@ams:registry=https://nexus.s.o3.ru/repository/npm-private-group
@b2b:registry=https://nexus.s.o3.ru/repository/npm-private-group
@b2c:registry=https://nexus.s.o3.ru/repository/npm-private-group
@bx-fe:registry=https://nexus.s.o3.ru/repository/npm-private-group
@erp:registry=https://nexus.s.o3.ru/repository/npm-private-group
@fe:registry=https://nexus.s.o3.ru/repository/npm-private-group
@fe-ui:registry=https://nexus.s.o3.ru/repository/npm-private-group
@fintech:registry=https://nexus.s.o3.ru/repository/npm-private-group
@gdz:registry=https://nexus.s.o3.ru/repository/npm-private-group
@lms:registry=https://nexus.s.o3.ru/repository/npm-private-group
@lms-lssrt:registry=https://nexus.s.o3.ru/repository/npm-private-group
@lms-ui:registry=https://nexus.s.o3.ru/repository/npm-private-group
@ozon:registry=https://nexus.s.o3.ru/repository/npm-private-group
@ozon-bx:registry=https://nexus.s.o3.ru/repository/npm-private-group
@ozon-components:registry=https://nexus.s.o3.ru/repository/npm-private-group
@ozon-eas:registry=https://nexus.s.o3.ru/repository/npm-private-group
@ozon-erp:registry=https://nexus.s.o3.ru/repository/npm-private-group
@ozon-infra:registry=https://nexus.s.o3.ru/repository/npm-private-group
@ozon-maps:registry=https://nexus.s.o3.ru/repository/npm-private-group
@ozon-marketing:registry=https://nexus.s.o3.ru/repository/npm-private-group
@ozon-nuxt:registry=https://nexus.s.o3.ru/repository/npm-private-group
@ozon-s10:registry=https://nexus.s.o3.ru/repository/npm-private-group
@ozon-seller:registry=https://nexus.s.o3.ru/repository/npm-private-group
@ozonui:registry=https://nexus.s.o3.ru/repository/npm-private-group
@p2b:registry=https://nexus.s.o3.ru/repository/npm-private-group
@p2bui:registry=https://nexus.s.o3.ru/repository/npm-private-group
@re:registry=https://nexus.s.o3.ru/repository/npm-private-group
@sre:registry=https://nexus.s.o3.ru/repository/npm-private-group
@staff:registry=https://nexus.s.o3.ru/repository/npm-private-group
@test:registry=https://nexus.s.o3.ru/repository/npm-private-group
@tms:registry=https://nexus.s.o3.ru/repository/npm-private-group
@wms:registry=https://nexus.s.o3.ru/repository/npm-private-group
registry=https://nexus.s.o3.ru/repository/npm-all
